<%- include ('../layout/head.ejs') %>

<body>

    <%- include ('../layout/navigator.ejs') %>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <%- include ('../layout/sidebar.ejs') %>

            <div class="col-md-9 ">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:#337AB7; color:white;">
                        <h4><b><%= loaitin.Ten %> </b></h4>
                    </div>

                    <% lstTintuc.forEach(tintuc => { %>
                        <div class="row-item row">
                            <div class="col-md-3">
                                <a href="page/tintuc/<%= tintuc.TieuDeKhongDau %> ">
                                    <br>
                                    <img width="200px" height="200px" class="img-responsive" src="upload/img/tintuc/<%= tintuc.Hinh %> " alt="">
                                </a>
                            </div>
    
                            <div class="col-md-9">
                                <h3><%= tintuc.TieuDe %> </h3>
                                <p><%= tintuc.TomTat %> </p>
                                <a class="btn btn-primary" href="page/tintuc/<%= tintuc.TieuDeKhongDau %> ">Xem thêm <span class="glyphicon glyphicon-chevron-right"></span></a>
                            </div>
                            <div class="break"></div>
                        </div>
                    <% }) %>




                    <!-- Pagination -->
                    <div class="row text-center">
                        <div class="col-lg-12">
                            <ul class="pagination">
                                <li>
                                    <a href="#">&laquo;</a>
                                </li>
                                <li class="active">
                                    <a href="#">1</a>
                                </li>
                                <li>
                                    <a href="#">2</a>
                                </li>
                                <li>
                                    <a href="#">3</a>
                                </li>
                                <li>
                                    <a href="#">4</a>
                                </li>
                                <li>
                                    <a href="#">5</a>
                                </li>
                                <li>
                                    <a href="#">&raquo;</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->

                </div>
            </div> 

        </div>

    </div>
    <!-- end Page Content -->


	<%- include ('../layout/footer.ejs') %>

	<%- include ('../layout/script.ejs') %>

</body>

</html>
